@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&family=Oswald:wght@300;400;600&display=swap');

body {
  /*font-family:'Oswald', sans-serif;
  font-weight: 300;
  font-size: 16px;
  /* line-height: 1.42;*/
  font: 300 16px/1.42 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #17191C;
  color: #fff;
  line-height: 1.42;
  margin: 0;
  }

  a {
    color: inherit;
  }

  p {
    margin: 0;
  }

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 .main-page-wrapper {
  background: url(./img/hero.png) center top no-repeat, url(./img/bottom-pic.png) center bottom 306px no-repeat;
 }

.container {
  margin: 0 auto;
  width: 1142px;
  position: relative;
}

.header {
  height: 130px;
  position: relative;
  margin-bottom: 99px;
  }

.logo {
display: block;
position: absolute;
top: 21px;
left: 0px;
}

.logo_footer {
  top: 40px;
}

.menu {
  position: absolute;
  top: 39px;
  left: 440px;
}

.menu_footer {
  top: 56px;
  left: 328px;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 52px;
}

.menu__item_active .menu__link {
  color: #FF3D00;
}

.menu__item:last-child {
  margin-right: 0;
}  

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #FF3D00
}

.contacts {
  position: absolute;
  top:28px ;
  right: 0px;
  font-style: normal;
  text-align:right;
}

.contacts_footer {
  top: 42px;
}

.contacts__free-call {
  font-size: 11px;
  color: #9A9A9A;
  margin-bottom: 4px;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  line-height: 35px;
}

.contacts__dropdown-title {
  font-size: 13px;
  color: #FF3D00;
  text-decoration: underline;
  margin-top: -7px;
}

.main-content {
  margin-bottom: 52px;
}


.offer {
  margin: 0 auto 231px;
  text-align:center;
}

.offer__title {
  font-size:  72px;
  font-weight: 800;
  line-height: 98px;
  margin-bottom: 15px;
  text-transform: uppercase;
  }

.offer__text {
  font-size: 18px;
  margin-bottom: 39px;
}

.btn {
  display: inline-block;
  background: #fff;
  border: 2px solid #FF3D00;
  border-radius: 35px;
  padding: 18px 54px;
  color: #FF3D00;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.service__btn {

}

.btn--center {
  margin: 0 auto;
}

.btn--theme-orange {
  background-color: #FF3D00;
  color: #fff;
}

.btn:hover {
  background:#FF3D00;
  color: #fff;
}

.btn--small {
  padding: 18px 40px;
}

.service__image {
  margin-left: 9px;
  margin-bottom: 23px;
}

.service {
  margin-bottom: 180px;
  width: 362px;
  min-height: 450px;
  margin: 0 auto;
  padding: 40px 34px 49px 22px ;
  position: relative;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 23px;
  color: #000000;
}

.service:last-child {
  margin-right: 0;
}

.service-list {
  margin-bottom: 180px;
}

.service__title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 15px;
}

.service__features {
  margin-bottom: 22px;
}

.service__features-item {
  display: inline-block;
  font-size: 16px;
  width: 102px;
}

.service__features-item:last-child {
  width: 123px;
  margin-left: 76px;
}

.service__description {
  font-size: 14px;
  margin-bottom: 29px;
  line-height: 22px;
}

.news {
  margin-bottom: 151px;
}

.news__title {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 51px;
}

.news__sale {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 23px;
}

.news__sale-list {
  margin-bottom: 45px;
}

.news__sale:last-child {
  margin-right: 0;
}

.new__sale-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 4px 32px;
  min-height: 151px;
}

.news__sale-date {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
}

.news__sale-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.news__sale-description {
  font-size: 16px;
  font-weight: 400;
}
    
.paginator {
  text-align: center;
}

.paginator__display, .paginator__pages {
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
 margin-right: 36px;

}

.paginator__link {
  text-decoration: none;
  font-weight: 700;
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  border-radius: 35px;
  position: relative;
}

.paginator__number {
  display: inline-block;
  vertical-align: middle;
  margin-right: -2px;
}

.paginator__number_active .paginator__link {
  background: #FF3D00;
}

.paginator__link:hover {
  background: #FF3D00;
}

.about {
  margin-bottom: 43px;
}

.about__description, .about__image::before {
  display: inline-block;
  vertical-align: top;
}

.about__image::before {
  content: "";
  display: inline-block;
  width: 490px;
  height: 505px;
  background: url(./img/cameraman.png), center center / cover no-repeat
}

.about__description {
  background: #fff;
  padding: 66px 81px;
  width: 785px;
  border-radius: 5px;
  margin-left: -140px;
  margin-top: 94px;
  min-height: 455px;
}

.about__title {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 37px;
  color: #000000;
}

.about__content {
  color: #000000;
  width: 502px;
  line-height: 27px;
  margin-bottom: 66px;
}

.about__discription p {
margin-bottom: 20px;
}

.about__description p:last-child {
  margin-bottom: 0;
}

.footer {
  height: 146px;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 1142px;
}

.footer-container__content {
  border-top: 1px solid rgb(255 255 255 / 10%);
}

.networks__list {
  top: 49px;
  right: 264px;
  position: absolute;
}

.networks__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  }

.networks__item:last-child {
  margin-right: 0;
}

.networks__link {
  display: block;
  text-decoration: none;
  height: 36px;
  width: 36px;
  background: center center no-repeat;
}

.networks__item_tg .networks__link {
  background-image: url(./img/tg2.png);
}

.networks__item_tg .networks__link:hover {
  background-image: url(./img/tg.png);
}

.networks__item_vk .networks__link {
  background-image: url(./img/vk2.png);
}

.networks__item_vk .networks__link:hover {
  background-image: url(./img/vk.png);
}

.networks__item_fb .networks__link {
  background-image: url(./img/fb2.png);
}

.networks__item_fb .networks__link:hover {
  background-image: url(./img/fb.png);
}

.networks__item_inst .networks__link {
  background-image: url(./img/inst2.png);
}

.networks__item_inst .networks__link:hover {
  background-image: url(./img/inst.png);
}

