.top-line {
  min-height: 416px;
  background: url(../../img/top-line.png) center center / cover no-repeat;
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;
}

.top-line-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-title {
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}