.btn {
  display: inline-block;
  background: #fff;
  border: 2px solid #FF3D00;
  border-radius: 35px;
  padding: 18px 54px;
  color: #FF3D00;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn--center {
  margin: 0 auto;
}

.btn--theme-orange {
  background-color: #FF3D00;
  color: #fff;
}

.btn:hover {
  background:#FF3D00;
  color: #fff;
}

.btn--small {
  padding: 18px 40px;
}

.service__btn {
  margin-top: auto;
}